<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="dtdc" class="com.nt.beans.DTDC"/>

<bean id="blueDart" class="com.nt.beans.BlueDart"/>
<bean id="flipKart" class="com.nt.beans.FlipKart">
<property name="courier" ref="dtdc"></property>

</bean>
</beans>