<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="rh" class="com.nt.beans.RequestHandler" scope="prototype"/>

<bean id="msh" class="com.nt.beans.MyServletContainer" scope="singletone" lazy-init="true">
<property name="handler" ref="rh"/>
</bean>
</beans>