<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="engId" class="com.nt.beans.Enigne"/>
<bean id="viechle" class="com.nt.beans.Viechle">
<property name="enngId">
<idref bean="engId"/>
</property>
<!-- <property name="enngId" ref="engId"/> -->
</bean>
</beans>