<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="dt" class="java.util.Date"/>
<bean id="user" class="com.nt.beans.User">
<constructor-arg value="100"/>
<constructor-arg value="Raja"/>
<!-- <constructor-arg><null/></constructor-arg> -->
<constructor-arg ref="dt"/>
</bean>

</beans>