<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="stdao" class="com.nt.dao.StudentEmployeeDAO" scope="singleton"/>
<bean id="stbo" class="com.nt.BO.StudentBo" scope="prototype"/>

<bean id="empbo" class="com.nt.BO.EmployeeBO" scope="prototype"/>
<bean id="stservice" class="com.nt.service.StudentEmployeeservice">
<property name="dao" ref="stdao"/>
<lookup-method name="getStudentBo" bean="stbo"/>
<lookup-method name="getEmployeeBo" bean="empbo"/>
</bean>
</beans>